.searchBar {
    /* display: inline-block; */
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    /* height: 32px;
     */
     /* width: 240px; */
    padding: 2px;
    margin: 12px auto;
    width: fit-content;
}

.searchInput {
    display: inline-block;
    border: none;
    font-size: 16px;
    width: 250px;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    height: unset;
    border: none;
    font-size: 14px;
    padding: 5px;
    border-left: 1px solid grey;
    background-color: transparent;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: rgba(226, 226, 226, 0.445);
}

.searchBtn:focus {
    outline: none;
}

.blockLink{
    color: unset;
    text-decoration: none;
}
