.notice {
    margin: 10px;
    /* background-color: rgb(192, 227, 231); */
    /* background-color: rgb(233, 233, 233); */
    /* box-shadow: 0 1px 2px #777; */
    padding: 20px 10px;
    width: auto;
}

.header {
    display: block;
}

.title {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
}

.time {
    white-space: nowrap;
    display: block;
    margin: 10px 0;
    
}

.message {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: #777;
    overflow: hidden;
    text-align: justify;
    margin: 20px 0;
}

.sender{
    font-weight: bold;
}

.special {
    background-color: rgb(123, 184, 105);
}

.unread {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: blue;
    margin-right: 10px;
    display: inline-block;
}
